---
- name: Set kernel params
  hosts: localhost
  connection: local
  become: yes
  gather_facts: false

  tasks:
    - name: Set sysctl values
      sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
      loop:
        - { name: vm.max_map_count, value: 262144 }
