---
- name: Minimal Elastic VM configuration for 6-node lab (Ubuntu-safe)
  hosts: localhost
  become: yes
  gather_facts: false

  vars:
    nodes:
      - { name: "udl-prd-ms1", ip: "192.168.100.28" }
      - { name: "udl-prd-ms2", ip: "192.168.100.32" }
      - { name: "udl-prd-ms3", ip: "192.168.100.26" }
      - { name: "udl-dn-1", ip: "192.168.100.30" }
      - { name: "udl-dn-2", ip: "192.168.100.31" }
      - { name: "udl-dn-3", ip: "192.168.100.27" }

  tasks:

    - name: Disable Transparent HugePages using systemd
      copy:
        dest: /etc/systemd/system/disable-thp.service
        content: |
          [Unit]
          Description=Disable Transparent Huge Pages
          After=sysinit.target

          [Service]
          Type=oneshot
          ExecStart=/bin/sh -c "echo never > /sys/kernel/mm/transparent_hugepage/enabled"
          ExecStart=/bin/sh -c "echo never > /sys/kernel/mm/transparent_hugepage/defrag"

          [Install]
          WantedBy=multi-user.target

    - name: Enable and start disable-thp service
      systemd:
        name: disable-thp
        enabled: yes
        daemon_reload: yes
        state: started

    - name: Disable Transparent HugePages immediately
      shell: |
        echo never > /sys/kernel/mm/transparent_hugepage/enabled
        echo never > /sys/kernel/mm/transparent_hugepage/defrag
      args:
        executable: /bin/bash

    - name: Set disk read-ahead to 0
      shell: |
        echo 0 > /sys/class/block/sda/queue/read_ahead_kb
      args:
        executable: /bin/bash

    - name: Disable SELinux permanently (if exists)
      lineinfile:
        path: /etc/selinux/config
        regexp: '^SELINUX='
        line: SELINUX=disabled
      ignore_errors: yes  # Ubuntu may not have SELinux

    - name: Update /etc/hosts with all nodes
      lineinfile:
        path: /etc/hosts
        line: "{{ item.ip }} {{ item.name }}"
        create: yes
      loop: "{{ nodes }}"
