---
- name: Set kernel parameters for Elasticsearch (Ubuntu practice VM)
  hosts: localhost
  become: yes
  gather_facts: false

  tasks:

    - name: Configure kernel parameters via sysctl
      sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
        reload: yes
      loop:
        - { name: 'fs.file-max', value: '98000' }
        - { name: 'kernel.threads-max', value: '64000' }
        - { name: 'vm.nr_hugepages', value: '0' }
        - { name: 'vm.max_map_count', value: '262144' }
        - { name: 'vm.swappiness', value: '0' }
        - { name: 'vm.zone_reclaim_mode', value: '0' }
        - { name: 'kernel.msgmax', value: '65536' }
        - { name: 'kernel.pid_max', value: '65534' }
        - { name: 'net.ipv4.tcp_keepalive_time', value: '300' }
