---
- name: Set elastic limits
  hosts: localhost
  connection: local
  become: yes
  gather_facts: false

  tasks:
    - name: Configure limits
      pam_limits:
        domain: elastic
        limit_type: "{{ item.limit_type }}"
        limit_item: "{{ item.limit_item }}"
        value: "{{ item.value }}"
      loop:
        - { limit_type: soft, limit_item: nofile, value: 65536 }
        - { limit_type: hard, limit_item: nofile, value: 65536 }
