---
- name: Create elastic users
  hosts: localhost
  connection: local
  become: yes
  gather_facts: false

  tasks:
    - name: Create elastic group
      group:
        name: elastic
        state: present

    - name: Create elastic user
      user:
        name: elastic
        group: elastic
        shell: /bin/bash
        create_home: yes
