---
- name: Install Elastic prerequisites (Ubuntu practice VM)
  hosts: localhost
  gather_facts: yes
  become: yes

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required OS packages for Elasticsearch
      apt:
        name:
          - build-essential
          - gcc
          - g++
          - libssl-dev
          - libcurl4
          - libpcap0.8
          - numactl
          - default-jdk
        state: present
