---
- name: Set resource limits for elastic user
  hosts: localhost
  become: yes
  tasks:
    - name: Configure limits.conf for elastic user
      pam_limits:
        domain: elastic
        limit_type: "{{ item.limit_type }}"
        limit_item: "{{ item.limit_item }}"
        value: "{{ item.value }}"
      loop:
        - { limit_type: 'hard', limit_item: 'nproc', value: 8192 }
        - { limit_type: 'soft', limit_item: 'nproc', value: 8192 }
        - { limit_type: 'hard', limit_item: 'memlock', value: unlimited }
        - { limit_type: 'soft', limit_item: 'memlock', value: unlimited }
        - { limit_type: 'hard', limit_item: 'nofile', value: 65536 }
        - { limit_type: 'soft', limit_item: 'nofile', value: 65536 }
        - { limit_type: 'hard', limit_item: 'fsize', value: unlimited }
        - { limit_type: 'soft', limit_item: 'fsize', value: unlimited }
        - { limit_type: 'hard', limit_item: 'as', value: unlimited }
        - { limit_type: 'soft', limit_item: 'as', value: unlimited }
        - { limit_type: 'hard', limit_item: 'cpu', value: unlimited }
        - { limit_type: 'soft', limit_item: 'cpu', value: unlimited }
