---
- name: Install elastic packages
  hosts: localhost
  connection: local
  become: yes
  gather_facts: false

  tasks:
    - name: Install required packages
      apt:
        name:
          - elasticsearch
          - kibana
        state: present
