---
- name: Playbook for creating elastic user on local VM
  hosts: localhost
  become: yes
  gather_facts: false

  tasks:

    - name: Create "dba" group
      group:
        name: dba
        state: present

    - name: Create elastic OS user added to dba group
      user:
        name: elastic
        group: dba
        create_home: yes
        home: /users/elastic
        state: present
        generate_ssh_key: yes
        ssh_key_bits: 2048
        ssh_key_file: .ssh/id_rsa

    - name: Allow crons for elastic user
      shell: "echo 'elastic' >> /etc/cron.allow"

    - name: Create elastic directories and set permissions
      shell: |
        mkdir -p /var/lib/elastic/
        mkdir -p /elastic
        chown -R elastic:dba /var/lib/elastic/
        chown -R elastic:dba /users/elastic
        chown -R elastic:dba /elastic
