cluster.name: {{ cluster_name }}
node.name: {{ inventory_hostname }}
node.roles: {{ node_roles }}

network.host: 0.0.0.0
discovery.seed_hosts:
{% for host in groups['masters'] %}
- {{ hostvars[host].ansible_host }}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups['masters'] %}
- {{ host }}
{% endfor %}

